.switch {
    font-size: 17px;
    position: fixed;
    top: 90px;
    right: 70px;
    width: 3.5em;
    height: 2em;
    opacity: 1;
    visibility: visible;
    z-index: 1000;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease, visibility 0.3s ease;
}

.switch::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    filter: blur(2px);
    z-index: -1;
    border-radius: 50px;
    background-color: #FFEB3B;
    background-image: radial-gradient(at 21% 46%, #FFC107 0px, transparent 50%),
                      radial-gradient(at 23% 25%, #FF5722 0px, transparent 50%),
                      radial-gradient(at 20% 1%, #FF9800 0px, transparent 50%);
    box-shadow: 0 0 10px 5px rgba(255, 193, 7, 0.5), 0 0 15px 3px rgba(255, 87, 34, 0.5), 0 0 20px 3px rgba(255, 152, 0, 0.6);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffffdc;
    transition: .4s;
    border-radius: 30px;
    box-shadow: none;
}


body .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.3em;
    bottom: 0.35em;
    transition: .4s;
    border-radius: 50%;
    background-color: #FFEB3B;
    background-image: radial-gradient(at 81% 39%, #FFC107 0px, transparent 50%),
                      radial-gradient(at 11% 72%, #FF5722 0px, transparent 50%),
                      radial-gradient(at 23% 20%, #FF9800 0px, transparent 50%);
}

body.dark-mode .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.3em;
    bottom: 0.35em;
    transition: .4s;
    border-radius: 50%;
    background-color: #000000;
    background-image: radial-gradient(at 81% 39%, #90c1e9 0px, transparent 50%),
                      radial-gradient(at 11% 72%, #283C5B 0px, transparent 50%),
                      radial-gradient(at 23% 20%, #1A2531 0px, transparent 50%);
}

body.dark-mode .switch::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    filter: blur(2px);
    z-index: -1;
    border-radius: 50px;
    background-color: #34495E;
    background-image: radial-gradient(at 21% 46%, #BDC3C7 0px, transparent 50%),
                      radial-gradient(at 23% 25%, #95A5A6 0px, transparent 50%),
                      radial-gradient(at 20% 1%, #7F8C8D 0px, transparent 50%);
    box-shadow: 0 0 15px 5px rgba(189, 195, 199, 0.6), 0 0 10px 5px rgba(52, 152, 219, 0.5), 0 0 30px 0px rgba(189, 195, 199, 0.8);
}

.input__check:checked + .slider {
    background-color: #17202A;
}

.input__check:checked + .slider:before {
    transform: translateX(1.5em);
}


body .card {
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
    color: #121212;
}

body .description {
    color: #333;
    background-color: #ffffff;
    box-shadow: 0.3em 0.3em 0.5em rgba(0, 0, 0, 0.1), -0.3em -0.3em 0.5em rgba(255, 255, 255, 0.8);
    border-radius: 1em;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.description .note {
    text-align: center;
    color: #ff0000;
    font-weight: bold;
    margin-bottom: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.description {
    font-size: 18px;
}

body.dark-mode .description {
    color: #e0e0e0;
    background-color: #24252e;
    box-shadow: 0.3em 0.3em 0.5em rgba(0, 0, 0, 0.3), -0.3em -0.3em 0.5em rgba(255, 255, 255, 0.1);
    border-radius: 1em;
    border: 1.5px solid #3a3b44;
    transition: box-shadow 0.2s ease, background-color 0.3s ease, border 0.2s ease, transform 0.2s ease;
}

body .description {
    color: #333;
    background-color: #ffffff;
    box-shadow: 0.3em 0.3em 0.5em rgba(0, 0, 0, 0.1), -0.3em -0.3em 0.5em rgba(255, 255, 255, 0.8);
    border-radius: 1em;
    transition: box-shadow 0.2s ease, background-color 0.3s ease, transform 0.2s ease;
}

body.dark-mode .description:hover {
    background-color: #333840;
    border: 1.5px solid #5a5b6b;
}

body.dark-mode .card {
    background: linear-gradient(145deg, #212429, #212429);
    border: 2px solid #3c3d47;
    color: white;
}


body.light-mode .image-container {
    background: linear-gradient(145deg, #ffffff, #f3f3f3);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3), 0 15px 15px rgba(0, 0, 0, 0.2);
}

body.dark-mode .image-container {
    background: linear-gradient(145deg, #1f1f1f, #292929);
    box-shadow: 0 5px 10px rgba(50, 60, 90, 0.2), -10px 10px 15px rgba(60, 70, 100, 0.918), inset 0 5px 10px rgba(50, 60, 90, 0.2), inset 10px -10px 10px 5px rgba(60, 70, 100, 0.39);
}

body.light-mode .image-container:hover {
    box-shadow: 0 35px 70px rgba(0, 0, 0, 0.3), 0 20px 20px rgba(0, 0, 0, 0.15);
}

body.dark-mode .image-container:hover {
    box-shadow: 0 35px 70px rgba(50, 60, 90, 0.6), 0 25px 25px rgba(60, 70, 100, 0.3);
}

section {
    padding: 20px;
}

h2 {
    font-size: 2.5rem ;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #000000;
    color: #000000fb;
    font-family: 'squid', sans-serif;
    background: rgb(0, 0, 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'squid', sans-serif;
    text-shadow: 
        2px 2px 5px rgba(0, 0, 0, 0.26), /* Outer shadow */
        -2px -2px 5px rgba(0, 0, 0, 0.26); /* Outer shadow from opposite side */
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.26)) 
            drop-shadow(-2px -2px 2px rgba(0, 0, 0, 0.26)); /* Simulating inner shadow */
}
body.dark-mode h2 {
    border-bottom: 2px solid #ffffff;
    color: #4fbff1;
    background: rgb(0, 156, 177);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'squid', sans-serif;
    text-shadow: 
        2px 2px 5px rgba(0, 0, 0, 0.26), /* Outer shadow */
        -2px -2px 5px rgba(0, 0, 0, 0.26); /* Outer shadow from opposite side */
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.26)) 
            drop-shadow(-2px -2px 2px rgba(0, 0, 0, 0.26)); /* Simulating inner shadow */
}

#cars {
    margin-top: -34px;
}

#cars h2 {
    margin-top: -25px;
}

body.light-mode {
    background-color: #ffffff;
    color: #1d2b69;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}





.card {
    background-color: var(--card-bg);
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

body.light-mode {
    --card-bg: #ffffff;
    --card-content-bg: #f9f9f9;
    --text-color: #333;
    --text-color-hover: #000;
    --border-color: #ddd;
    background-color: #f5f5f5;
    color: #333;
}

body.dark-mode {
    --card-bg: #1e1e2f;
    --card-content-bg: #2b2b3c;
    --text-color: #e0e0e0;
    --text-color-hover: #fff;
    --border-color: #444;
    background-color: #121212;
    color: #e0e0e0;
}

.mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--card-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.mode-toggle:hover {
    background-color: var(--card-content-bg);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

body.light-mode .card img {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.651);
}

body.light-mode .card img:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.603);
    filter: contrast(100%);
}

body.dark-mode .card img {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.425);
}

.dark-mode .card p {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 20px 15px;
    border-radius: 15px;
    background-color: #071b3125;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.226), 0 1px 3px rgba(0, 0, 0, 0.26);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.card p {
    width: calc(100% - 90px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 20px 15px;
    border-radius: 15px;
    background-color: rgba(187, 37, 37, 0.055);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}



body.dark-mode .card p:hover {
    background-color: rgba(4, 16, 29, 0.145);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
}

body.dark-mode .card img:hover {
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.479);
    filter: brightness(0.85);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Light Mode */
body.light-mode #home h1 {
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.13), /* Black shadow for light mode */
        -2px -2px 4px rgba(0, 0, 0, 0.253);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.26)) 
            drop-shadow(-2px -2px 2px rgba(0, 0, 0, 0.247));
}

/* Dark Mode */
.dark-mode #home h1 {
    text-shadow: 
        2px 2px 5px rgba(0, 0, 0, 0.329), /* White shadow for dark mode */
        -2px -2px 5px rgba(0, 0, 0, 0.322);
    filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.068)) 
            drop-shadow(-2px -2px 2px rgba(255, 255, 255, 0.062));
}

body.dark-mode .menu a {
    color: var(--text-light); /* Override for dark mode */
    /* Shadows for dark mode */
    text-shadow: 
        2px 2px 5px rgba(0, 0, 0, 0.26), /* Outer shadow */
        -2px -2px 5px rgba(0, 0, 0, 0.26); /* Outer shadow from opposite side */
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.26)) 
            drop-shadow(-2px -2px 2px rgba(0, 0, 0, 0.26)); /* Simulating inner shadow */
}

body.dark-mode .menu a:hover {
    color: #006572;
}

@media (max-width: 1380px) and (min-width: 521px) {
    .dark-mode .switch::before {
        box-shadow: 0 0 10px 3px rgba(189, 195, 199, 0.4), 
                    0 0 6px 3px rgba(52, 152, 219, 0.3), 
                    0 0 15px 0px rgba(189, 195, 199, 0.5) !important;
    }
    body.light-mode .image-container {
        background: linear-gradient(145deg, #ffffff, #f3f3f3);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 
                    0 10px 10px rgba(0, 0, 0, 0.1);
    }
    
    body.dark-mode .image-container {
        background: linear-gradient(145deg, #1f1f1f, #292929);
        box-shadow: 0 3px 7px rgba(50, 60, 90, 0.15), 
                    -5px 5px 10px rgba(60, 70, 100, 0.5), 
                    inset 0 3px 7px rgba(50, 60, 90, 0.15), 
                    inset 5px -5px 7px rgba(60, 70, 100, 0.3);
    }
    
    body.light-mode .image-container:hover {
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2), 
                    0 12px 12px rgba(0, 0, 0, 0.1);
    }
    
    body.dark-mode .image-container:hover {
        box-shadow: 0 20px 40px rgba(50, 60, 90, 0.4), 
                    0 15px 15px rgba(60, 70, 100, 0.2);
    }    
}

@media (max-width: 520px) and (min-width: 240px) {

    .switch {
        position: fixed;
        top: 83px;
        right: 10px;
        transform: scale(0.7) !important;
        transition: transform 0.4s ease-in-out, opacity 0.3s ease, visibility 0.3s ease;
    }
    .switch::before {
        box-shadow: 0 0 5px 2px rgba(255, 193, 7, 0.3), 
                    0 0 8px 2px rgba(255, 87, 34, 0.3), 
                    0 0 10px 2px rgba(255, 152, 0, 0.4) !important;
    }
    
    .dark-mode .switch::before {
        box-shadow: 0 0 10px 3px rgba(189, 195, 199, 0.4), 
                    0 0 6px 3px rgba(52, 152, 219, 0.3), 
                    0 0 15px 0px rgba(189, 195, 199, 0.5) !important;
    }
    body.light-mode .image-container {
        background: linear-gradient(145deg, #ffffff, #f3f3f3);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 
                    0 10px 10px rgba(0, 0, 0, 0.1);
    }
    
    body.dark-mode .image-container {
        background: linear-gradient(145deg, #1f1f1f, #292929);
        box-shadow: 0 3px 7px rgba(50, 60, 90, 0.15), 
                    -5px 5px 10px rgba(60, 70, 100, 0.5), 
                    inset 0 3px 7px rgba(50, 60, 90, 0.15), 
                    inset 5px -5px 7px rgba(60, 70, 100, 0.3);
    }
    
    body.light-mode .image-container:hover {
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2), 
                    0 12px 12px rgba(0, 0, 0, 0.1);
    }
    
    body.dark-mode .image-container:hover {
        box-shadow: 0 20px 40px rgba(50, 60, 90, 0.4), 
                    0 15px 15px rgba(60, 70, 100, 0.2);
    }    
}
/* Dark Mode Card h6 with New Effects */
.card h6 {
    margin: 4px 0;
    font-size: 25px; /* Default font size for PC */
    text-align: center;
    font-weight: 600;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: var(--text-shadow);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.26)) 
            drop-shadow(-2px -2px 2px rgba(0, 0, 0, 0.247));
    transition: transform 0.3s ease, letter-spacing 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
}

.card h6:hover {
    transform: translateY(-5px);
    letter-spacing: 2px;
    text-shadow: var(--hover-text-shadow);
}

/* Default Light Mode */
body.light-mode {
    --gradient-color: linear-gradient(90deg, #ffffff, #ffffff);
    --text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    --hover-text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.dark-mode {
    --gradient-color: rgb(0, 156, 177); /* Set the solid background color for dark mode */
    --text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.466), /* Black shadow for dark mode */
        -2px -2px 4px rgba(0, 0, 0, 0.342);
    --hover-text-shadow: 3px 3px 10px rgba(255, 255, 255, 0.062);
    background: rgb(0, 156, 177); /* Solid background color */
}


/* Large Desktop (1440px and above) */
@media (min-width: 1440px) {
    .card h6 {
        font-size: 28px; /* Larger font for large screens */
    }
}

/* PC (1024px to 1439px) */
@media (min-width: 1024px) and (max-width: 1439px) {
    .card h6 {
        font-size: 25px; /* Default font size for PC */
    }
}

/* Tablet (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
    .card h6 {
        font-size: 22px; /* Smaller font for tablets */
    }
}

/* Mobile Landscape (480px to 767px) */
@media (min-width: 480px) and (max-width: 767px) {
    .card h6 {
        font-size: 20px; /* Slightly larger font for mobile landscape */
    }
}

/* Mobile (375px to 479px) */
@media (min-width: 375px) and (max-width: 479px) {
    .card h6 {
        font-size: 18px; /* Even smaller font for phones */
    }
}

/* Small Mobile (Side Phones) (320px to 374px) */
@media (min-width: 320px) and (max-width: 374px) {
    .card h6 {
        font-size: 16px; /* Smallest font for very small screens */
    }
}

/* Extra Small Mobile (Below 320px) */
@media (max-width: 319px) {
    .card h6 {
        font-size: 14px; /* Adjust for ultra-small screens */
    }
}
